# Virtual environments
.venv
/.env

# Local development
/project/settings/localsettings.py
/requirements/base.txt

# Pyenv
.python-version

# Packaging
build
dist
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.mo

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
.tox

# VS Code
.vscode

# Mac Os
.DS_Store

# Temp files
*~
.~lock*

# Swap files
*.sw[po]

# Logging files
*.log

# Build files
!var/
var/*
!var/maintenance/
/parts/webpack-stats.json
/parts/diskette/
/requirements/base.txt
project/static-sources/css/
project/static-sources/js/
project/static-sources/webpack-stats.json
