{% extends "base.html" %}
{# djlint:off #}{% block header-title %}Prototypes - {{ block.super }}{% endblock header-title %}{# djlint:on #}
{% block body-content %}
    <div class="block">
        <div class="container-xl">
            <h1>Prototypes</h1>

            <ul class="menu">
                {% for item in staticpages %}
                    {% if not item.is_index %}
                        <li>
                            <a href="{% url item.urlname %}">{{ item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body-content %}
