{% comment %}This is a patch for V3 widget that does not work with multiple forms in the same page{% endcomment %}
<script src="https://{{ recaptcha_domain }}/recaptcha/api.js?render={{ public_key }}{% if api_params %}&{{ api_params }}{% endif %}"></script>
<script type="text/javascript">
    grecaptcha.ready(function() {
        const element = document.querySelector('.g-recaptcha[data-widget-uuid="{{ widget_uuid }}"]');
        element.form.addEventListener('submit', function (event) {
            {% if action %}
                recaptchaFormSubmit(event, "{{ widget_uuid }}", "{{ action }}");
            {% else %}
                recaptchaFormSubmit(event, "{{ widget_uuid }}", "");
            {% endif %}
        });
    });
    function recaptchaFormSubmit(event, widgetUUID, actionName) {
        event.preventDefault();
        const element = document.querySelector(`.g-recaptcha[data-widget-uuid="${widgetUUID}"]`);
        const actionArg = actionName ? { action: actionName } : {};
        grecaptcha.execute('{{ public_key }}', actionArg).then(function(token) {
            element.value = token || "-";
            element.form.submit();
        });
    }
</script>