{% extends "skeleton.html" %}
{% load i18n static %}
{# djlint:off #}{% block header-title %}Project globals - {{ block.super }}{% endblock header-title %}{# djlint:on #}
{% block metas-robot %}
    <meta name="robots" content="noindex, nofollow">
{% endblock metas-robot %}
{% block header-resource-extra %}
    <link rel="stylesheet" href="{% static "css/components/project-utils/layout.css" %}">
{% endblock header-resource-extra %}
{% block body-container %}
    <div class="project-utils">
            <h1 class="pu-title">Project globals</h1>

            <div class="mb-4">
                <p class="lead">You can use these template variables anywhere in your templates.</p>

                <div class="pu-data">
                    <table id="project-globals-variables">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Variable name</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in project_globals_variables %}
                                <tr class="pu-data-item">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><kbd class="user-select-all">{% templatetag openvariable %}&nbsp;{{ k }}&nbsp;{% templatetag closevariable %}</kbd></td>
                                    <td><samp class="user-select-all">{{ v }}</samp></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mb-4">
                <p class="lead">Here you can see the full payload available in template context.</p>

                <div class="text-bg-light border border-dark-subtle rounded p-2">
                    <pre class="m-0"><code id="project-globals-payload">{{ project_globals_json|safe }}</code></pre>
                </div>
            </div>

    </div>
{% endblock body-container %}
