img {
    &.align-picture-left {
        float: left;
    }

    &.align-picture-right {
        float: right;
    }

    &.centered,
    &.align-picture-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &.expanded {
        width: 100%;
        height: auto;
    }
}
