{% extends "pages/base.html" %}
{% load static cms_tags %}
{% comment %}
NOTE:
Page template which is free of any HTML structure (no header, no footer, etc..).
{% endcomment %}
{% block body-content %}
    {% placeholder "content" or %}
    <h1>HTML free template</h1>
    <h2>{% page_attribute "page_title" %}</h2>
    <p>
        Consectetur adipiscing elit. Duis euismod eros a ante convallis, ut sodales nibh rhoncus. Sed ut tellus nec nunc bibendum feugiat a at massa. Phasellus aliquet quam et maximus varius. Nulla maximus metus vitae odio iaculis, eu sollicitudin massa maximus. Aenean volutpat odio semper dolor viverra posuere. Fusce ac eros nulla. Nulla at metus lacus. Fusce dictum sapien eu ligula sollicitudin, ac consectetur magna interdum. Cras consectetur elementum faucibus. Praesent molestie rutrum mi, eget eleifend mauris tempus id. Maecenas ac cursus lorem. Proin laoreet posuere ultrices. Nullam dapibus viverra justo, eu gravida enim aliquet et. Maecenas molestie mauris eu nisi pellentesque placerat.
    </p>
    <p>
        <img alt="" src="{% static "images/sample/1400x450.png" %}">
    </p>
    <p>
        Mauris ac pretium odio. Duis commodo odio odio. Suspendisse ut mi ante. Quisque dapibus metus accumsan diam iaculis, sed malesuada ex elementum. Ut ut justo elit. Nullam venenatis laoreet purus sit amet tempor. Nunc eros neque, tristique quis tempus ac, consequat a tortor. Sed vitae dapibus mauris, et suscipit erat. Proin congue odio quis porta convallis. Curabitur tristique porta nunc, in vulputate sapien commodo posuere.
    </p>
    <p>
        Cras eget pretium lacus, sed tincidunt metus. Cras a blandit enim, quis blandit diam. Praesent a turpis sed ligula volutpat sodales nec sit amet diam. Curabitur aliquet gravida justo, vel scelerisque ipsum posuere in.
    </p>
{% endplaceholder %}
{% endblock body-content %}
