{% extends "pages/base.html" %}
{% load i18n static cms_tags %}
{% comment %}
NOTE:
Page template which is free of any HTML structure (no header, no footer, etc..).
{% endcomment %}
{% block page-content-classes %}{{ block.super }} rich-text-content{% endblock page-content-classes %}

{% block body-content %}
    {% placeholder "content" or %}
        <h1>{% translate "HTML free template" %}</h1>
        <h2>{% page_attribute "page_title" %}</h2>
        <p>
            <img alt="" class="align-picture-left" src="{% static "images/sample/300x220.png" %}" />Integer ut consectetur dolor, sed blandit eros. Nulla auctor rhoncus metus, at bibendum risus commodo quis. Mauris interdum purus sed volutpat imperdiet.
            Etiam felis lectus, sollicitudin pretium congue a, dictum et ligula. Donec in condimentum elit. Vestibulum accumsan erat blandit metus congue tristique non a lectus. Sed sit amet facilisis nisl, a sagittis erat. Phasellus sit amet dui
            quis magna interdum feugiat. Proin commodo aliquam est quis elementum. Duis pulvinar fermentum erat, vitae iaculis nisl sodales non. Vestibulum ac sem eleifend felis iaculis scelerisque. Suspendisse mollis ligula et placerat aliquet.
            Nullam finibus ac odio in porttitor. Quisque malesuada, nibh vitae suscipit convallis, magna leo laoreet tortor, eu pellentesque magna ante sit amet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p>
            Mauris ac pretium odio. Duis commodo odio odio. Suspendisse ut mi ante. Quisque dapibus metus accumsan diam iaculis, sed malesuada ex elementum. Ut ut justo elit. Nullam venenatis laoreet purus sit amet tempor. Nunc eros neque, tristique quis tempus ac, consequat a tortor. Sed vitae dapibus mauris, et suscipit erat. Proin congue odio quis porta convallis. Curabitur tristique porta nunc, in vulputate sapien commodo posuere.
        </p>
        <p class="align-picture-center"><img alt="" src="{% static "images/sample/1400x450.png" %}" /></p>
        <p>
            Integer ut consectetur dolor, sed blandit eros. Nulla auctor rhoncus metus, at bibendum risus commodo quis. Mauris interdum purus sed volutpat imperdiet. Etiam felis lectus, sollicitudin pretium congue a, dictum et ligula. Donec in
            condimentum elit. Vestibulum accumsan erat blandit metus congue tristique non a lectus. Sed sit amet facilisis nisl, a sagittis erat. Phasellus sit amet dui quis magna interdum feugiat. Proin commodo aliquam est quis elementum. Duis
            pulvinar fermentum erat, vitae iaculis nisl sodales non. Vestibulum ac sem eleifend felis iaculis scelerisque. Suspendisse mollis ligula et placerat aliquet. Nullam finibus ac odio in porttitor. Quisque malesuada, nibh vitae suscipit
            convallis, magna leo laoreet tortor, eu pellentesque magna ante sit amet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    {% endplaceholder %}
{% endblock body-content %}
