///
/// Buckle customization
///
/// This must be loaded after Site and Bootstrap variables
///

$include-bb-icons: false;
$bb-font-directory: "/static/fonts/";
$bb-breakpoints: $grid-breakpoints;

// Enabled font families (usable from utility with `.font-FAMILYNAME`)
$bb-fonts: (
    "opensans": $font-family-sans-serif,
    "monospace": $font-family-monospace,
);

// Some additional small sizes
$small1-font-size: 0.875rem;
$small2-font-size: 0.75rem;
$small3-font-size: 0.625rem;

// Set all the font sizes from bigger to smaller
$bb-small-sizes: (
    1: $small1-font-size,
    2: $small2-font-size,
    3: $small3-font-size,
);

// Binded icons on Bootstrap Icons map
//$icons: $bootstrap-icons-map;

// Enabled icon sizes for modifiers
$bb-icon-sizes: (
    "small": 0.8em,
    "normal": inherit,
    "large": 3em,
    "wide": 4em,
);

// Buckle space variables and map
$bb-space-tiny: (
    "xs": 0.5rem,
    "md": 0.75rem,
    "lg": 1rem,
    "xxl": 1.5rem,
);
$bb-space-short: (
    "xs": 1rem,
    "md": 1.25rem,
    "lg": 2rem,
    "xxl": 2.5rem,
);
$bb-space-normal: (
    "xs": 1.5rem,
    "md": 2rem,
    "lg": 3rem,
    "xxl": 4rem,
);
$bb-space-large: (
    "xs": 2rem,
    "md": 3rem,
    "lg": 4rem,
    "xxl": 5rem,
);
$bb-space-wide: (
    "xs": 3rem,
    "md": 4.5rem,
    "lg": 6rem,
    "xxl": 8rem,
);
$bb-spaces: (
    "tiny": $bb-space-tiny,
    "short": $bb-space-short,
    "normal": $bb-space-normal,
    "large": $bb-space-large,
    "wide": $bb-space-wide,
);
