<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>500 Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
        <div>
            <h1>500 internal server error</h1>
            <p>Click here to return to the <a href="/">Home page</a>.</p>
        </div>
    </body>
</html>
