{% extends "skeleton.html" %}
{% load static i18n menu_tags %}
{% block body-container %}
    <div id="page-body" class="d-grid gap-3 p-3">
        <nav class="header-navbar navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% if PROJECT.enable_i18n_urls %}/{{ LANGUAGE_CODE }}/{% else %}/{% endif %}">{{ SITE.name }}</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#main-navbar-toggler"
                        aria-controls="main-navbar-toggler"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-navbar-toggler">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% show_menu 1 100 100 100 "menus/flat.html" %}
                        <li class="nav-item">
                            <a class="nav-link{% if lotus_stage == "articles" %} active{% endif %}"
                               href="{% url "lotus:article-index" %}">{% trans "Articles" %}</a>
                        </li>
                        {% if request.user and request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "admin:index" %}" target="_blank">{% trans "Admin" %}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "admin:login" %}">{% trans "Login" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {% include "partials/color_mode_toggler.html" %}
        </nav>
        <div id="page-content" class="container-xxl{% block page-content-classes %}{% endblock page-content-classes %}">
            {% block body-content %}
                Base content goes here.
            {% endblock body-content %}
        </div>
    </div>
{% endblock body-container %}
